body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

input {
    width: 250px;
    height: 20px;
    border-radius: 2px;
    border-width: 0;
}

input:focus-visible {
    outline: #338ecb solid 3px;
    border: 2px;
}


label {
    display: block;
    text-transform: uppercase;
}

.input_boxes {
    display: flex;
    align-items: center;
    justify-content: start;
}

.description_container p {
    font-size: 25px;
    letter-spacing: .65px;
}

.parent { 
    display: flex;
    background-color: grey;
    width: 100vw;
    height: 100vh;
}


.left_column {
    height: inherit;
    max-width: 40vw;
    background-color: green;
    position: relative;
}

.right_column {
    height: 100vh;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.bg_image {
    margin: auto;
    height: 100%;
    max-width: 100%;
}

.logo_bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 200px;
    background-color: #0000006b;
}

.logo_bg img {
    width: max(50px,75px, 100px);
}

.logo_bg h1 {
    color: white;
    font-size: 80px;
    font-weight: 900;
}

.credit {
    font-family: "Roboto", sans-serif;
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.credit a {
    color: white;
}

.form_container {
    color: #fff;
}

form section {
    background-color: #3c3c3c29;
}

form h1 {
    font-size: 30px;
}

.description_container p,
form section,
form p {
    padding: 0 50px
}

form button {
    margin: 25px 50px;
    height: 40px;
    width: 175px;
    border-radius: 5px;
    background-color: #338ecb;
    border-width: 0;
    color: #262626;
    font-size: 18px;
    font-weight: bold;
}

form section {
    box-shadow: 0px 8px 9px 0px rgb(60 60 60);
}

form ul li {
    padding: 5px 50px 0px 0px;
    margin: 0px 25px 20px 0px;
}